@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #000000;
}

#column-2 {
  background: #e3e3e3;
}

#column-3 {
  background: #000000;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #2F4F4F;
  }

  #column-1 {
    background-color: #8FBC8F;
  }

  #column-2 {
    background-color: #2F4F4F ;
  }

  #column-3 {
    background-color: #8FBC8F ;
   
  }

  footer {
    background-color: #2F4F4F;
  }
  
  .col-3
    {
      width: 50%;
  } 
}

/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #8B0000;
  }

  #column-1 {
    background-color: #FF8C00;
  }

  #column-2 {
    background-color: #8B0000;
  }

  #column-3 {
    background-color: #FF8C00 ;
  }

  footer {
    background-color: #8B0000 ;
  }
  .col-3
  {
    width: 33.3%;
}    
}
